#### Pixel Pipeline ####

[[pipeline_modules]]
name = "Demosaic"
algorithm = "markesteijn"
# algorithm = "fast"

# [[pipeline_modules]]
# name = "Crop"
# factor = 1
# point = [0, 0]
# size = [1, 1]
# view_window = [1920, 1080]

[[pipeline_modules]]
name = "CFACoeffs"

[[pipeline_modules]]
name = "HighlightReconstruction"


[[pipeline_modules]]
name = "Exp"
ev = 3

[[pipeline_modules]]
name = "Contrast"
c = 1.7

[[pipeline_modules]]
name = "CST"
target_color_space = "XyzD65"


# # [[pipeline_modules]]
# # name = "ChromaDenoise"
# # a = 1
# # b = 1
# # strength = 0.1

[[pipeline_modules]]
name = "LCH"
lc = 1
cc = 1.2
hc = 1

[[pipeline_modules]]
name = "ToneMap"
# c = 6

[[pipeline_modules]]
name = "CST"
target_color_space = "Srgb"
